head {
   title: "World of Nicholas";
   link rel="icon" type="image/x-icon" href="/Images/icon.png"
}

body {
  background-color: #ffffcd;
  
}

h1 {
  color: #6a1213;
}
/* Styling for the drinks page, but maybe this could be made into its own .css!*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.drink_img {
  float:  right;
  width:  256px;
  height: 256px;
  border: 5px solid black;
}

.drink_recipe {
  float: left;
}

.drink_date {
  text-align: center;
  font-size: 0.95em;
  color: darkred;
  margin-top: 5px;
}

.contact_info {
  float: left;
  font-size: 1.3em;
  color: blue;
}

/* Styling for the about page */
.about_imgs {
  display: flex;
  float: right;
}

.resume h3 {
  color: #747880;
  margin-bottom: 4px;
  font-size: 1.25em;
  
}

.resume hr {
  display: flex;
  float: left;
  margin-top: 6px;
}

/* Styling for the projects page */

.project h3 {
  display: flex;
  color: #4455aa;
  font-size: 1.3em;
}

.project h2 {
  display: flex;
  color: #4455dd;
  font-size: 1.5em;
}

.proj_container {
  display: flex;
}

.proj_desc {
  display: flex;
  float: left;
  font-size: 1.15em;
  word-wrap: wrap;
  margin: 10px;
  width: 700px;
}

.proj_gif {
  float: left;
  margin: 15px;
  display: flex;
  min-width: 150px;
}
