head {
   title: "World of Nicholas";
   link rel="icon" type="image/x-icon" href="/Images/icon.png"
}

body {
  background-color: #ffffcd;
  
}

h1 {
  color: #6a1213;
}
/* Styling for the drinks page, but maybe this could be made into its own .css!*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.drink_img {
  float:  right;
  width:  256px;
  height: 256px;
  border: 5px solid black;
}

.drink_recipe {
  float: left;
}

.drink_date {
  text-align: center;
  font-size: 0.95em;
  color: darkred;
  margin-top: 5px;
}

.contact_info {
  float: left;
  font-size: 1.3em;
  color: blue;
}

/* styling for welcome page */
.welcome_page {
  display: flex;
}

/* Styling for the about page */
.about_imgs {
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.resume h3 {
  color: #747880;
  margin-bottom: 4px;
  font-size: 1.25em;
  
}

.resume hr {
  display: flex;
  float: left;
  margin-top: 6px;
}

/* Styling for the projects page */

.project h3 {
  display: flex;
  color: #4455aa;
  font-size: 1.3em;
}

.project h2 {
  display: flex;
  color: #4455dd;
  font-size: 1.5em;
}

.proj_container {
  display: flex;
  flex-direction: column;
}

.proj_desc {
  display: flex;
  float: left;
  font-size: 1.15em;
  word-wrap: wrap;
  margin: 10px;
  width: 700px;
}

.proj_gif {
  float: left;
  margin: 15px;
  display: flex;
  min-width: 150px;
}

/* styling for blog page / posts */
.blog-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.post {
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post:hover {
  transform:translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.post h2 {
  margin-top: 0;
  color: #4a4a4a;
}

.date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.snippet {
  color: #333;
  line-height: 1.6;
}

.read-more {
  display: inline-block;
  margin-top: 0.75rem;
  color: #0077cc;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.full-post {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity 0;
  margin-top: 0.5rem;
}

.full-post.open {
  max-height: 500px;
  opacity: 1;
}

.full-archive-post.open {
  max-height: 500px;
  overflow-y: auto;
  opacity: 1;
}

/* responsive layout for mobile */
@media (max-width: 768px) {
  .about_imgs {
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    order: 2;
  }

  .about_imgs img {
    width: 45vw;
    margin: 8px 0;
  }

  .resume {
    clear: both;
  }
  
}
